<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div>
        <div>
            <h3>view in map</h3>
            <h3>view list</h3>
        </div>
        <div>
            <ul>

            </ul>
        </div>
    </div>
    <ul>
        <li>
            <a href="" target="_blank"></a>
            <img src="" alt="" title="">
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href=""></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href=""></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
        <li>
            <a href="" target="_blank"></a>
        </li>
    </ul>
</body>
</html>