<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="img_nav_container">
            <img src="" alt="">
        </div>
        <nav>
            <ol>
                <li class="nav_list"><a href="">Home</a></li>
                <li class="nav_list"><a href="">Fiction</a></li>
                <li class="nav_list"><a href="">Non-Fiction</a></li>
                <li class="nav_list"><a href="">Gifts</a></li>
            </ol>
        </nav>
        <search>
            <form action="./search/">
                <input type="search" id="book" placeholder="Search for a book" />
                <button type="submit">Search</button>
            </form>
        </search>
        <div class="profile"></div>
        <div class="cart"></div>
    </header>
    <section>
        <ul>
            <li class="side_scroll_items">
                <div class="">
                    <p></p>
                    <button class="buy_button">BUY NOW</button>
                </div>
                <a href=""></a></li>
            <li class="side_scroll_items">
                <div class="">
                    <p></p>
                    <button class="buy_button">BUY NOW</button>
                </div>
                <a href=""></a></li>
            <li class="side_scroll_items">
                <div class="">
                    <p></p>
                    <button class="buy_button">BUY NOW</button>
                </div>
                <a href=""></a></li>
            <li class="side_scroll_items">
                <div class="">
                    <p></p>
                    <button class="buy_button">BUY NOW</button>
                </div>
                <a href=""></a></li>
            <li class="side_scroll_items">
                <div class="">
                    <p></p>
                    <button class="buy_button">BUY NOW</button>
                </div>
                <a href=""></a></li>
        </ul>
    </section>
    <section class="home_page_gallery">
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
        <div class="">
            <img src="" alt="">
            <div class="">
                #aca va un icono de comprar
                <button class="buy_button"></button>
            </div>
        </div>
    </section>
    <footer>
        <div class="">
            #icono de la pagina
            <img src="" alt="">
        </div>
        <div class="">
            <p>derechos de autor y blablabla</p>
        </div>
        <ul>
            <li>
                <a href=""></a>
                <div class="">
                    <img src="" alt="">
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="">
                    <img src="" alt="">
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="">
                    <img src="" alt="">
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="">
                    <img src="" alt="">
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="">
                    <img src="" alt="">
                </div>
            </li>
            <li>
                <a href=""></a>
                <div class="">
                    <img src="" alt="">
                </div>
            </li>
        </ul>
    </footer>
</body>
</html>